{% extends 'frontend/base.html'%}

{% block title %}Analysis{% endblock %}

{% block header %}
    <header>
        <div style="width: 48px; height: 48px; position: relative; background: #527AFF; border-radius: 64px"></div>
        <div style="color: black; font-size: 36px; font-weight: 700; word-wrap: break-word">PPBV</div>
    </header>
{% endblock %}

{% block content %}
    <div style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <aside style="z-index:0">
            <a class="aside-item link-plain" href="/stations">Stationen</a>
            <a class="aside-item link-plain active-link" href="/analysis">Analyse</a>
        </aside>
        <main>
        </main>
    </div>
{% endblock %}

