<!-- frontend/stations.html -->
{% extends 'frontend/base.html' %}

{% block title %}Stations{% endblock %}

{% block header %}
    <header>
        <div style="width: 48px; height: 48px; position: relative; background: #527AFF; border-radius: 64px"></div>
        <div style="color: black; font-size: 36px; font-weight: 700; word-wrap: break-word">PPBV</div>
    </header>
{% endblock %}

{% block content %}
    <div style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <aside style="z-index:0">
            <a class="aside-item link-plain active-link" href="/stations">Stationen</a>
            <a class="aside-item link-plain" href="/analysis">Analyse</a>
        </aside>
        <main>
            {% for station in stations %}
                <div class="card">
                    <span>{{ station.name }}</span>
                    <div style="align-self: stretch; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                        <span>Patientanzahl</span>
                        <span>10</span>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 10px; display: inline-flex">
                        <button onclick="window.location.href = '/stations/{{ station.id }}'">
                            <div>Auswählen</div>
                            {{ ">" }}
                        </button>
                    </div>
                </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}
