{% extends 'frontend/base.html'%}

{% block title %}Station Name{% endblock %}

{% block header %}
<header>
    <a href="/stations" style="font-size: 40px; text-decoration: none; font-weight: 400; color: #111; border-right: 2px solid #111; padding-right: 20px; margin-right: 10px;">←</a> 
    <h1>Station {{ id }} Patientenliste</h1>
</header>
{% endblock %}

{% block content %}
<div class="card" style="margin: 6px auto; width: 40%;">
    
    <table class="table" style="margin: 20px 0; width: 100%; border-collapse: collapse; ">
        <thead>
            <tr style="text-align: left;">
                <th style="padding: 8px;">Name <a href="#" style="text-decoration: none; color: black; font-weight: 400; margin-left: 20px;">↓</a></th>
                <th>Letzter Eintrag <a href="#" style="text-decoration: none; color: black; font-weight: 400; margin-left: 20px;">↓</a></th>
                <th style="padding: 8px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            {% if patient.station_id == id %}
            <tr>
                <td style="padding: 8px; margin-right: 30px;">{{ patient.first_name }} {{ patient.last_name }}</td>
                <td>
                    {% if patient.daily_today %}
                            <span style="padding: 3px 20px; border-radius: 20px; border: 2px solid green;">Heute</span>
                        {% else %}
                            <span style="padding: 3px 20px; border-radius: 20px; border: 2px solid yellow;">Gestern</span>
                    {% endif %}
                </td>
                <td style="padding: 8px;">
                    <form action="" method="get">
                        <button onclick="window.location.href = '/stations/{{ id }}/{{ patient.id }}/'" class="btn btn-primary" style="margin: 0 auto;">Auswählen →</button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}